
.idea/jarRepositories.xml
.idea/discord.xml
.idea/discord.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.iml
*.class
litehandler-velocity/target/classes/velocity-plugin.json
litehandler-velocity/target/classes/config.yml
.idea/uiDesigner.xml
.idea/artifacts/litehandler_velocity_jar.xml
.idea/artifacts/litehandler_bukkit_jar.xml
litehandler-bukkit/target/classes/plugin.yml
*.lst
*.jar
neohandler-velocity/target/classes/velocity-plugin.json
neohandler-velocity/target/maven-archiver/pom.properties
neohandler-velocity/target/classes/config.yml
neohandler-bukkit/target/maven-archiver/pom.properties
neohandler-bukkit/target/classes/plugin.yml
