
.idea/jarRepositories.xml
.idea/discord.xml
.idea/discord.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.iml
*.class
litehandler-velocity/target/classes/velocity-plugin.json
litehandler-velocity/target/classes/config.yml
.idea/uiDesigner.xml
.idea/artifacts/litehandler_velocity_jar.xml
